/* * {
    border: 1px dashed rgb(252, 0, 0);
    min-height: 10px;
}  */
body{
    font-family: "Roboto", serif;
}
.flex-container{
    background-color: black;
}
.post{
    flex-direction: column;
    background-color: white;
    width: 45%;
    margin:auto;  
}
.post-header{
    display: flex;
    position: relative;
    padding: 10px;
}
.icon{
    position: absolute;
    margin: 0;
}
.icon-2 {
    width: 100%;
}
.post-image>img{
    width: 100%;
}
.post-body{
    padding: 15px;
}
.post-icons{
    position: relative;
    margin: 0;
}
.post-icons img:nth-child(4){
    position: absolute;
    right: 0;
   
}


